@charset "UTF-8";

#titulo1{
    background-color: blanchedalmond;
    color:brown;
}


#navegacao > ul{
    display:flex;
    gap: 16px;
    list-style:none;
    padding: 0;
    margin-bottom:20px;
    justify-content: center;
}
nav a{
    text-decoration: none;
    font-weight: bold;
    color: brown;
}

#clear{
    text-align: center;
}
#limpar{
    color: brown;
}

.feita{
    text-decoration: line-through;
    opacity: 0.6;
    cursor: pointer;
}