@charset "UTF-8";

*{
    box-sizing: border-box;
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
}

section{
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1{
    text-align: center;
}

a{
    font-style: none;
}

#inicio{
    display: flex;
    gap: 8px;
    padding: 0 10px ;
    width: 100%;

}

#texto{
    flex: 1 1 0;
    min-width: 0;
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
}

#adicionar{
    font-size: 16px;
    padding: 10px 14px;
    white-space: nowrap;
    flex-shrink: 0;
}

.feito{
    text-decoration: line-through;
    opacity: 0.5;
    color: green;
}

#exercicios{
    padding-left: 0;
    list-style-position: inside;
    list-style: none;
}

#exercicios li{
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    padding: 10px;
    border-bottom: 1px solid #ddd;}

.nome-ex{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.area-dados{
    display: flex;
    gap: 8px;
    width: 100%;
}

.area-dados input{
    width: 100%;
    height: 56px;
    text-align: center;
    font-size: 16px;

    padding: 0;
    margin: 0;
    
    line-height: 56px;
    box-sizing: border-box;

    border: 1px solid #999;
    border-radius: 6px;

    background: #fff;
    appearance: none;
    -webkit-appearance: none;
}


.areaBotoes{
    display: flex;
    gap: 8px;
    width: 100%;
}

.areaBotoes button{
    flex: 1 1 0;
    min-width: 0;
    height: 56px;
    font-size: 16px;

    padding: 0;
    margin: 0;

    box-sizing: border-box;
    line-height: 56px;

    border-radius: 6px;

}


.campo{
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
}